<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for(:title) || "Terrier Assessment" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="selection-top-bar">
      <%= form_with url: "show", method: "get" do |form| %>
          <label for="target_table_str">Select Table</label>
          <%= form.select :target_table_str,
                          @table_options,
                          selected: params[:target_table_str]%>
          <%= form.submit "Display Results"%>
      <% end %>
  </div>

  <table>
      <% tgt_table = (params[:current_table] != nil) ? params[:current_table] : Locations.all  %>
      <tr>
          <%tgt_table.column_names.each do |name| %>
              <th><%= name %></th>
          <% end %>
      </tr>
      <% tgt_table.each do |entry| %>
          <tr>
              <% tgt_table.column_names.each do |name| %>
                  <th><%=entry.attributes_for_database[name] %></th>
              <% end %>
          </tr>
      <% end %>
  </table>

</body>
</html>
